aside,
.pe-asside {
  padding: $pe-aside-padding;
  background: $pe-aside-bg;
  border-left: $pe-aside-border-left;

  h1 {
    font-size: 1.25rem;
  }

  h2 {
    font-size: 1.1rem;
  }

  h3 {
    font-size: 1rem;
  }

  h4,
  h5,
  h6 {
    font-size: 0.8rem;
  }
}
