.pe-btn {
  @include button($pe-btn-default-bg, $pe-btn-default-border, $pe-btn-default-text,
    $pe-btn-default-disabled-bg, $pe-btn-default-disabled-text);
  font-size: $pe-btn-font-size;
  line-height: $pe-btn-line-height;
  padding: 0 $pe-btn-padding;
}

.pe-btn--primary {
  @include button($pe-btn-primary-bg, $pe-btn-primary-border, $pe-btn-primary-text,
    $pe-btn-primary-disabled-bg, $pe-btn-primary-disabled-text);
}

.pe-btn--small {
  font-size: $pe-btn-font-size * 0.928571;
  line-height: $pe-btn-line-height * 0.857143;
  padding: 0 ($pe-btn-padding * 0.833333);
}

.pe-btn--large {
  font-size: $pe-btn-font-size * 1.285714;
  line-height: $pe-btn-line-height * 1.5;
  padding: 0 ($pe-btn-padding * 1.666667);
}

