$pe-colors: (
  // grayscale
  pitch: #231f20,
  gray-no-1: #565656,
  brightly-lit: #e6e6e6,
  off-white: #f2f2f2,
  dirty-ice: #f8f8f8,
  white: #ffffff,
  boring: #a6a8ab,
  sidewalk: #b3b3b3,
  hairline-gray: #d0d0d0,
  gray-wash: #aeaeae,
  black: #000000,
  gutenberg-black: #333333,
  full-moon: #424242,
  asphalt: #3f3f3f,
  smoke-gray: #545454,

  // colors
  highlighter: #fdec2e,
  royal-navy: #094877,
  hyperdrive: #0d65a6,
  basic-blue: #107aca,
  sea: #0c5d99,
  deep-sea: #0a4d80,
  sky-blue: #9dc0db
);
