$pe-colors: (
  // grayscale
  pitch: #231F20,
  gray-no-1: #565656,
  brightly-lit: #E6E6E6,
  off-white: #F2F2F2,
  dirty-ice: #F8F8F8,
  white: #FFFFFF,
  boring: #A6A8AB,
  sidewalk: #B3B3B3,
  hairline-gray: #D0D0D0,
  gray-wash: #AEAEAE,
  black: #000000,
  gutenberg-black: #333333,
  full-moon: #424242,
  asphalt: #3F3F3F,
  smoke-gray: #545454,

  // colors
  highlighter: #FDEC2E,
  royal-navy: #094877,
  hyperdrive: #0D65A6,
  basic-blue: #107ACA,
  sea: #0C5D99,
  deep-sea: #0A4D80,
  sky-blue: #9DC0DB
);

@function peColor($key) {
  @if map-has-key($pe-colors, $key) {
    @return map-get($pe-colors, $key);
  }

  @warn "Unknown color `#{$key}` in $pe-colors.";
  @return null;
}
