<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="/elements/css/docs.css">
  </head>
  <body>
    <header class="pe-header pe-header--fixed">
      <section class="pe-header__section">
        <a href="//elements" class="pe-header__brand">Pearson Elements</a>
      </section>
      <section class="pe-header__section pe-header__section--right">
        <nav class="pe-header__nav">
          <ul class="pe-header__nav-items">
            <li class="pe-header__nav-item  ">
              <a href="/elements/getting-started">Getting Started</a>
            </li>
            <li class="pe-header__nav-item  ">
              <a href="/elements/elements">Elements</a>
            </li>
            <li class="pe-header__nav-item">
              <a href="https://github.com/pearson-higher-ed/elements/">
                <span class="d-github-mark--light d-header-github-link"></span>
                <span class="pe-sr-only">Elements on GitHub</span>
              </a>
            </li>
          </ul>
        </nav>
      </section>
    </header>
    .d-github-mark--light {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAMAAACdt4HsAAAB3VBMVEX///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////9sbfpqAAAAnnRSTlMAAQIEBQcICQoMDQ4PEBQVFhgaGxweHyAiIyQmKCkqLC4xMzU2Nzg5PT4/QEFDSElLTE1OT1FSU1VYXF1eX2BiZmdrbW5vc3R1eHp8fX5/goOGh4iJjI2Oj5GSlpmanJ6foKGjpKWmp6mqq6yur7Cytru8vb/AxsfIzM3O0tTV1tja29zd3t/g4uPk5ejp6+zt7u/w9PX29/j5+vv9/gLEmOsAAAMTSURBVHgBzdXtX1NlHMfx7+GGYbIgvIFMMcnSvLHUtBTUWdM5iWZq3uimDQoz0KRQWabIJim0zcrB5ja/f2uvczi7rnPOztm59qz349/r8/D7g5e+4Yt3n2QLZCH75M7FoT40o2VP4jkdnif2tEBNz7lFulo81w1/668W6al4dT0aazuzzIaWz7ShgcE5+pobhBft1GsqeB3W4Cpwm4puB+Ci6wGVPehCna7f2YRUXaHzIZvysBM22hSbNKXBKsKmRWCxo0LT7m3HbhXpoXjr2LbdNFV2QGhP0/QIAILRf+ji32gQAB7RlG5HzShrvoMheK1K5u8nz58Oh0+fT97Pk9VrQRgusWYUpv4Sa47DNHh0Iyw2Hh2E6ThrSv1YFaewD772UYjDsKFM4QB8HaRQ3gDdZUon4OsEpcsA0JajdB2+rlPKtQHYT4sUfKVosR/AOKXydvjaXqY0DiBL6WsoGKGUBbZQ+qsDCjqWKG1BiNJZKDlLKYQrlN6Fkk2UruAehUUoWqJwD/MUpqFomsI88hR+gKIfKbxEiUISipIUSqA0BUV3KIHSNBT9SgkrFDJQlKGwghyFSgBKAhUKOaQo7YSSjymlMEnpApRcoDSJGKWFFihoWaAUs+/JESg4Yl+UHlo864SvzgVa9Dgm6gZ83XBOYIxWI/AxSqsYgM20SXSggUCCNpsBYJY28wc0eNAOZWgzC90wdb/t/CxRouGPU31wsSkyR4dh6FpfGHM0ALwnLv5MRg62Q3jri5GJJdZ50QrDSeqWh4DuNIUxDYJ2k25OYlXrY/EYP6jS9PdaWKx9yXqPW2HaS0NpAPhGzq3NJdbbCyFem1ho33LVp7D5hHXikNZkaHgfwIfj6VfPJofbYdNPp8waWGwtUPcTvATpUNgKm8NV6g6pBqqH4RCibuVzxUAIdcI0/PyRphAIw8VQhYb8zN1fZl8FGwQqQ3C1K0epQSC3Cx7WzagEZtbBk/ZlwS9Q+EpDI70339DwDmy6aXjzfS/8DIyVSbIbNm+TZGVsACp6o085AYcJPo324v/oP2NJOXnYX9t/AAAAAElFTkSuQmCC);
}

    <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
  </body>
</html>
