// NOTE: this needs a better home!
// display label-input pairs in a row

.pe-inlineblock {
  div {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 1em 1em;
  }

  div:first-child {
    margin-left: 0;
  }
}

// input type=text etc

.pe-input {
  @include pe-input(
    $pe-input-default-bg,
    $pe-input-default-border,
    $pe-input-default-text,
    $pe-input-default-disabled-bg,
    $pe-input-default-disabled-text
  );

  margin-bottom: 1em;//until Parker changes

  & label {
    @include pe-label;

    display: block;
    margin-bottom: 6px;
  }

  & input {
    display: inline-block;
    vertical-align: middle;

    font-size: $pe-input-font-size;
    height: $pe-input-height;
    line-height: $pe-input-default-line-height;
    padding: $pe-input-padding;
  }

  &-group {
    .pe-input {
      position: relative;
      float: left;
      z-index: 2;

      input {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        border-right: 0px;
      }
    }
  }
}

//text-area

.pe-textarea {
  @include pe-input(
    $pe-input-default-bg,
    $pe-input-default-border,
    $pe-input-default-text,
    $pe-input-default-disabled-bg,
    $pe-input-default-disabled-text
  );

  margin-bottom: 1em;//until Parker changes

  & label {
    @include pe-label;

    display: block;
    margin-bottom: 6px;
  }

  & textarea {
    display: inline-block;
    vertical-align: middle;
    font-size: $pe-input-font-size;
    height: auto;
    line-height: $pe-input-default-line-height;
    padding: $pe-textarea-padding;
  }
}

// checks and radios

.pe-checkbox,
.pe-radio {
  & input,
  & label {
    display: inline-block;
    vertical-align: middle;
  }

  & input {
    margin-right: 7px;//because inline-block adds approx 3-4px space
  }

  & label {
    @include pe-label-large;
  }
}

.pe-checkbox--small,
.pe-radio--small,
.pe-textarea--small {
  & label {
    @include pe-label;
  }
}




