.pe-checkbox,
.pe-radio,
.pe-textarea {
  & input,
  & label {
    display: inline-block;
    vertical-align: middle;
  }

  & input {
    margin-right: 7px;//because inline-block adds approx 3-4px space
  }

  & label {
    @include pe-label-large;
  }

  & textarea {
    position: relative;
    background-color: #d1d1d1;
  }

}

.pe-checkbox--small,
.pe-radio--small,
.pe-textarea--small {

  & label {
    @include pe-label;
  }
}


.pe-textarea {
  & input,
  & label {
    vertical-align: top;
  }
}



