.pe-checkbox,
.pe-radio {
  & input,
  & label {
    display: inline-block;
    vertical-align: middle;
  }

  & input {
    margin-right: 7px;//because inline-block adds approx 3-4px space
  }

  & label {
    @include pe-label-large;
  }
}

.pe-checkbox--small,
.pe-radio--small {

  & label {
    @include pe-label;
  }
}

.pe-textarea {
    position: relative;
    background-color: transparent;


}
