@import 'colors';

$pe-light-palette: (
  name: 'Light Palette',
  primary-text-color: peColor(pitch),
  secondary-text-color: peColor(gray-no-1),
  primary-link-color: peColor(hyperdrive),
  secondary-link-color: peColor(royal-navy),
  bg-color-darker: peColor(brightly-lit),
  bg-color-dark: peColor(off-white),
  bg-color-light: peColor(dirty-ice),
  bg-color-lighter: peColor(white),
  highlight-color: peColor(highlighter),
  accent-dark: peColor(boring),
  accent-med: peColor(sidewalk),
  accent-light: peColor(hairline-gray)
);

$pe-dark-palette: (
  name: 'Dark Palette',
  primary-text-color: peColor(white),
  secondary-text-color: peColor(gray-wash),
  bg-color-darker: peColor(black),
  bg-color-dark: peColor(gutenberg-black),
  bg-color-light: peColor(full-moon),
  accent-dark: peColor(asphalt),
  accent-med: peColor(smoke-gray)
);

$pe-blue-palette: (
  name: 'Blue Palette',
  primary-text-color: peColor(white),
  bg-color-dark: peColor(sea),
  bg-color-light: peColor(basic-blue),
  accent-dark: peColor(deep-sea),
  accent-light: peColor(sky-blue)
);

$pe-palettes: (
  light: $pe-light-palette,
  dark: $pe-dark-palette,
  blue: $pe-blue-palette
);



@function pePalette($pal, $c){
  @if map-has-key($pe-palettes, $pal){
    $palette: map-get($pe-palettes, $pal);
    @if map-has-key($palette, $c) {
      @return map-get($palette, $c);
    }

    @warn "Unknown color `#{$c}` in current palette `#{$pal}` `#{map-get($palette, name)}`.";
    @return null;
  }
  @warn "No such palette `#{pal}`";

}
