html {
  box-sizing: border-box;
  font-family: pe-font-family(default-sans-serif);
  font-size: $pe-font-size-base;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

// Typography
//

// Remove top margins from headings
// Credit: Bootstrap
//
// Remove top margin from `<h1> - <h6>` to avoid margin collapsing.
// Set a base bottom margin.
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

// Reset margins on paragraphs
// Credit: Bootstrap
//
// Set the top margin.
// Reset the bottom margin to use `rem` units instead of `em`.
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
