
@import '../node_modules/o-responsive/main';

@import '../node_modules/o-type/src/scss/variables';
@import '../node_modules/o-type/src/scss/fonts';

html {
  box-sizing: border-box;
  font-family: o-type-font-family(serif-default);
  font-size: $pe-font-size-base;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 35px;
  border-collapse: collapse;
  th,
  td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
    text-align: left;
  }

  thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
    border-top: 0px none;
  }

  tbody + tbody {
    border-bottom: 2px solid #ddd;
  }

  &.table-striped {
    tbody tr:nth-of-type(odd) {
      background-color: #e8e8e8;
    }
  }
}
