table,
.pe-table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 35px;
  border-collapse: collapse;

  th,
  td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
    text-align: left;
  }

  thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
    border-top: 0px none;
  }

  tbody + tbody {
    border-bottom: 2px solid #ddd;
  }
}

.pe-table--striped {
  tbody tr:nth-of-type(odd) {
    background-color: #e8e8e8;
  }
}
