// Links
//

a {
  color: $pe-link-color;
  text-decoration: underline;

  &:hover,
  &:active,
  &:focus {
    color: $pe-link-hover-color;
    text-decoration: none;
  }
}

// Headings
//

h1,
h2,
h3,
h4,
h5,
h6 {
  small {
    font-size: $pe-text-heading-small-font-size;
    color: $pe-text-heading-small-color;
  }
}

// Body copy
//

p {
  color: $pe-copy-color;
  font-size: $pe-copy-font-size;
  line-height: $pe-copy-line-height;
}

// Inline text
//

ins {
  &:before {
    content: '+';
  }

  &:after {
    content: '+';
  }
}

mark {
  background: $pe-text-mark-bg;
}

s {
  color: $pe-text-strikethrough-color;
}

small {
  font-weight: $pe-text-small-font-weight;
  font-size: $pe-text-small-font-size;
  line-height: $pe-text-small-line-height;
}

sub,
sup {
  font-size: 90%;
}

sub {
  top: 0.2rem;
}

sup {
  top: -0.2rem;
}

// Code
//

pre,
code,
kbd {
  font-family: pe-font-family(default-monospace);
}

code {
  color: $pe-text-code-color;
}

kbd {
  padding: 2px 4px;
  background: $pe-text-kbd-bg;
  color: $pe-text-kbd-color;
  font-size: 90%;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);

  kbd {
    padding: 0;
    font-size: 100%;
    font-weight: 700;
    box-shadow: none;
  }
}

// Leads
//

.pe-lead {
  color: $pe-lead-color;
  font-weight: $pe-lead-font-weight;
  font-size: $pe-lead-font-size;
  line-height: $pe-lead-line-height;

  @include pe-responsive-breakpoint(sm) {
    font-weight: $pe-lead-sm-font-weight;
    font-size: $pe-lead-sm-font-size;
    line-height: $pe-lead-sm-line-height;
  }
}

// Titles
//

.pe-title {
  color: $pe-title-color;
  font-weight: $pe-title-font-weight;
  font-size: $pe-title-font-size;
  line-height: $pe-title-line-height;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @include pe-responsive-breakpoint(sm) {
    font-size: $pe-title-sm-font-size;
    line-height: $pe-title-sm-line-height;
  }
}

.pe-title--large {
  font-size: $pe-title-large-font-size;
  line-height: $pe-title-large-line-height;

  @include pe-responsive-breakpoint(sm) {
    font-size: $pe-title-large-sm-font-size;
    line-height: $pe-title-large-sm-line-height;
  }
}

.pe-title--extra-large {
  font-size: $pe-title-extra-large-font-size;
  line-height: $pe-title-extra-large-line-height;

  @include pe-responsive-breakpoint(sm) {
    font-size: $pe-title-extra-large-sm-font-size;
    line-height: $pe-title-extra-large-sm-line-height;
  }
}

// Labels
//

.pe-label {
  color: $pe-label-color;
  font-size: $pe-label-font-size;
  line-height: $pe-label-line-height;
  font-weight: $pe-label-font-weight;

  &.pe-label--inverse {
    color: $pe-label-inverse-color;
    font-weight: $pe-label-inverse-font-weight;
  }
}

.pe-label--secondary {
  color: $pe-label-secondary-color;

  &.pe-label--inverse {
    color: $pe-label-secondary-inverse-color;
  }
}

.pe-label--small {
  font-size: $pe-label-small-font-size;
  line-height: $pe-label-small-line-height;
}

.pe-label--large {
  font-size: $pe-label-large-font-size;
  line-height: $pe-label-large-line-height;
}

.pe-label--bold {
  font-weight: $pe-label-bold-font-weight;
}

// Lists
//

.pe-list--unstyled {
  @include pe-list-unstyled;
}

.pe-list--inline {
  @include pe-list-unstyled;
  margin-left: -5px;

  > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
  }
}
