// Variables
//

// Responsive breakpoints
//

$pe-responsive-breakpoints: (
  xs: (min: 0,      max: 479px),
  sm: (min: 480px,  max: 767px),
  md: (min: 768px,  max: 1023px),
  lg: (min: 1024px, max: 1279px),
  xl: (min: 1280px)
) !default;

// Type
//

$pe-font-size-base: 16px !default;
$pe-line-height-base: 1.5 !default;

$pe-font-families: (
  default-sans-serif: ('Helvetica Neue', Helvetica, Arial, sans-serif),
  default-serif: (Georgia, Times, 'Times New Roman', serif),
  default-monospace: ('Lucida Sans Typewriter', 'Lucida Console', monaco, 'Bitstream Vera Sans Mono', monospace)
) !default;

// Links
//

$pe-link-color: #0d65a6 !default;
$pe-link-hover-color: #094877 !default;

// Body copy
//

$pe-copy-color: #231f20 !default;
$pe-copy-font-size: 1rem !default;
$pe-copy-line-height: 1.375 !default;

// Titles
//

$pe-title-color: #000000 !default;
$pe-title-font-weight: normal !default;
$pe-title-font-size: 1.124rem !default;
$pe-title-line-height: 1.375rem !default;
// sm and larger viewports
$pe-title-sm-font-size: 1.375rem !default;
$pe-title-sm-line-height: 1.75rem !default;

$pe-title-large-font-size: 1.25rem !default;
$pe-title-large-line-height: 1.5rem !default;
// sm and larger viewports
$pe-title-large-sm-font-size: 1.5rem !default;
$pe-title-large-sm-line-height: 1.875rem !default;

$pe-title-extra-large-font-size: 1.375rem !default;
$pe-title-extra-large-line-height: 1.75rem !default;
// sm and larger viewports
$pe-title-extra-large-sm-font-size: 1.875rem !default;
$pe-title-extra-large-sm-line-height: 2.25rem !default;

// Leads
//

$pe-lead-color: #231f20 !default;
$pe-lead-font-weight: 200 !default;
$pe-lead-font-size: 1.125rem !default;
$pe-lead-line-height: 1.5rem !default;
// sm and larger viewports
$pe-lead-sm-font-weight: 300 !default;
$pe-lead-sm-font-size: 1.25rem !default;
$pe-lead-sm-line-height: 1.75rem !default;

// Labels
//

$pe-label-color: #231f20 !default;
$pe-label-font-size: 0.875rem !default;
$pe-label-line-height: 1rem !default;
$pe-label-font-weight: normal !default;

$pe-label-secondary-color: #676767 !default;

$pe-label-small-font-size: 0.813rem !default;
$pe-label-small-line-height: 0.9375rem !default;

$pe-label-large-font-size: 1rem !default;
$pe-label-large-line-height: 1.125rem !default;

$pe-label-bold-font-weight: bold !default;

$pe-label-inverse-color: #ffffff !default;
$pe-label-secondary-inverse-color: #aeaeae !default;

// Buttons
//

$pe-btn-border-radius: 3px !default;
$pe-btn-font-size: 0.875rem !default;
$pe-btn-height: 28px !default;
$pe-btn-padding: 0 11px !default;

$pe-btn-default-bg: #f8f8f8 !default;
$pe-btn-default-border: solid 1px #d0d0d0 !default;
$pe-btn-default-text: $pe-label-secondary-color !default;
$pe-btn-default-hover-bg: #e6e6e6 !default;
$pe-btn-default-hover-border: solid 1px #b3b3b3 !default;
$pe-btn-default-hover-text: $pe-label-secondary-color !default;
$pe-btn-default-hover-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3) !default;
$pe-btn-default-disabled-bg: #f2f2f2 !default;
$pe-btn-default-disabled-text: #888888 !default;

$pe-btn-primary-bg: #107aca !default;
$pe-btn-primary-border: solid 1px #0a4d80 !default;
$pe-btn-primary-text: $pe-label-inverse-color !default;
$pe-btn-primary-hover-bg: #0c5d99 !default;
$pe-btn-primary-hover-border: solid 1px #0a4d80 !default;
$pe-btn-primary-hover-text: $pe-label-inverse-color !default;
$pe-btn-primary-hover-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3) !default;
$pe-btn-primary-disabled-bg: #9dc0db !default;
$pe-btn-primary-disabled-text: #ffffff !default;

$pe-btn-link-bg: none !default;
$pe-btn-link-border: 0 !default;
$pe-btn-link-text: $pe-link-color !default;
$pe-btn-link-hover-bg: $pe-btn-link-bg !default;
$pe-btn-link-hover-border: $pe-btn-link-border !default;
$pe-btn-link-hover-text: $pe-link-hover-color !default;
$pe-btn-link-disabled-bg: 0 !default;
$pe-btn-link-disabled-text: #9dc0db !default;

$pe-btn-small-height: 24px !default;
$pe-btn-small-font-size: $pe-label-small-font-size !default;
$pe-btn-small-padding: 0 9px !default;

$pe-btn-large-height: 42px !default;
$pe-btn-large-font-size: $pe-label-large-font-size !default;
$pe-btn-large-padding: 0 19px !default;

// Card
//

$pe-card-border: solid 1px #cccccc !default;
$pe-card-margin-bottom: 15px !default;
$pe-card-heading-padding: 15px !default;

// Aside
//

$pe-aside-bg: #f9f9f9 !default;
$pe-aside-border-left: 5px solid #107aca !default;
$pe-aside-padding: 15px !default;
