// Variables
//

// Type
//

$font-size-base: 16px;
$font-families: (
  default-sans-serif: ('Helvetica Neue', Helvetica, Arial, sans-serif),
  default-serif: (Georgia, Times, 'Times New Roman', serif),
  default-monospace: ('Lucida Sans Typewriter', 'Lucida Console', monaco, 'Bitstream Vera Sans Mono', monospace)
);

// Colors
//
// Foundational color palettes

$primary-color: #00bbad;
$primary-color-lightest: #62d3cb;
$primary-color-lighter: #2cc2b7;
$primary-color-darker: #00847a;
$primary-color-darkest: #005d56;

$secondary-color: #ffcb00;
$secondary-color-lightest: #ffe377;
$secondary-color-lighter: #ffd73a;
$secondary-color-darker: #d6ab00;
$secondary-color-darkest: #977900;

$accent-color: #e00072;
$accent-color-lightest: #ea6dad;
$accent-color-lighter: #e3338d;
$accent-color-darker: #b0005a;
$accent-color-darkest: #7c003f;

// Card
//

$card-border: solid 1px #cccccc;
$card-heading-padding: 15px;
