// Variables
//

// Type
//

$pe-font-size-base: 16px !default;
$pe-font-families: (
  default-sans-serif: ('Helvetica Neue', Helvetica, Arial, sans-serif),
  default-serif: (Georgia, Times, 'Times New Roman', serif),
  default-monospace: ('Lucida Sans Typewriter', 'Lucida Console', monaco, 'Bitstream Vera Sans Mono', monospace)
) !default;

// Buttons
//

$pe-btn-default-bg: #f8f8f8 !default;
$pe-btn-default-border: #d0d0d0 !default;
$pe-btn-default-text: #666666 !default;
$pe-btn-default-disabled-bg: #cccccc !default;
$pe-btn-default-disabled-text: #888888 !default;

$pe-btn-primary-bg: #107aca !default;
$pe-btn-primary-border: #0e6ab0 !default;
$pe-btn-primary-text: #ffffff !default;
$pe-btn-primary-disabled-bg: #9dc0db !default;
$pe-btn-primary-disabled-text: #ffffff !default;

$pe-btn-font-size: 0.875rem !default;
$pe-btn-line-height: 1.75rem !default;
$pe-btn-padding: 12px !default;

// Card
//

$pe-card-border: solid 1px #cccccc !default;
$pe-card-heading-padding: 15px !default;

// Aside
//

$pe-aside-bg: #f9f9f9 !default;
$pe-aside-border-left: 5px solid #107aca !default;
$pe-aside-padding: 15px !default;
