@import '../../../scss/palette';

@mixin paletteSwatches($pal) {
  position: relative;
  float: left;
  width: 30%;
  margin-right: 3%;
  @each $prop, $color in $pal {
    @if $prop != 'name' {
      .pe-c--#{$prop} {
        width: 100%;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: $color;
      }
    }
  }
}

.pe-palette-light {
  @include paletteSwatches($pe-light-palette);
}
.pe-palette-dark {
  @include paletteSwatches($pe-dark-palette);
}
.pe-palette-blue {
  @include paletteSwatches($pe-blue-palette);
}



.d-swatch {
  clear: both;
  margin-bottom: 35px;
  &:after {
    clear: both;
    margin-bottom: 35px;
  }
  .d-swatch--color {
    float: left;
    width: 150px;
    height: 150px;
  }
}



@each $name, $color in $pe-colors {
  .pe-color-#{$name}{
    background: $color;
    position: relative;
    &:before, &:after{
      position: absolute;
      width: 100%;
      height: 50%;
      left: 0px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &:before {
      content: "#{$name}";
      color: white;
      top: 0px;
    }
    &:after {
      content: "#{$name}";
      color: black;
      bottom: 0px;
    }
  }
}
