.d-docs-layout__sidebar {
  display: none;
  position: absolute;
  width: $d-sidebar-width;

  @include pe-responsive-breakpoint(md) {
    display: block;
  }
}

.d-docs-layout__main {
  padding: $d-main-padding;

  @include pe-responsive-breakpoint(md) {
    margin-left: $d-sidebar-width;
  }
}
