@mixin pe-btn($bg, $border, $text-color, $hover-bg, $hover-border, $hover-text-color,
  $disabled-bg, $disabled-text-color, $active-shadow: none) {

  color: $text-color;
  background: $bg;
  border: $border;
  border-radius: $pe-btn-border-radius;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  &:hover,
  &:active,
  &:focus {
    color: $hover-text-color;
    background: $hover-bg;
    border: $hover-border;
  }

  &:active {
    box-shadow: $active-shadow;
  }

  &:disabled,
  &.pe-btn--disabled {
    cursor: default;
    border: 0;
    color: $disabled-text-color;
    background: $disabled-bg;
    box-shadow: none;
    text-decoration: none;
  }
}
