//Grid Mixins

@mixin generate-container($pe-container-max-width, $pe-responsive-breakpoints) {
  .pe-container {
    position      : relative;
    max-width     : $pe-container-max-width;
    margin-right  : auto;
    margin-left   : auto;
    min-height    : 1px;
    @include clearfix();

    @each $breakpoint in map-keys($pe-responsive-breakpoints) {

      //Get container margin by breakpoint
      $margin                       : map-get($pe-container-margin, $breakpoint);
      $current-breakpoint-value-get : get-breakpoint-value($breakpoint);

      //Construct media query
      @media(min-width:$current-breakpoint-value-get){
        padding-right : ($margin / 2);
        padding-left  : ($margin / 2);
      };
    };
  };
};


@mixin generate-columns($pe-responsive-breakpoints){

  @each $breakpoint in map-keys($pe-responsive-breakpoints) {

    $current-gutter                : map-get($pe-gutter-widths, $breakpoint);
    $current-breakpoint-value-gets : get-breakpoint-value($breakpoint);


    //Construct media query
    @media(min-width: $current-breakpoint-value-gets){

      //Construct Row
      .pe-row {
        margin-right : $current-gutter / -2;
        margin-left  : $current-gutter / -2;
        @include clearfix();
      };

      @each $breakpoint in map-keys($pe-container-margin) {

        @for $i from 1 through $pe-columns {

          $column-width    : percentage($i / $pe-columns);

          //Construct column
          .pe-col-#{$breakpoint}-#{$i} {
            padding-right : $current-gutter / 2;
            padding-left  : $current-gutter / 2;
            width         : $column-width;
            float         : left;
            min-height    : 1px;
          };
        };
      };
    };
  };
};


@mixin clearfix() {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
};


@function get-breakpoint-value($breakpoint){
  $current-breakpoint-value-get : pe-responsive-get-breakpoint-value($breakpoint, min);

  @if $current-breakpoint-value-get <= $pe-container-max-width {
     @return $current-breakpoint-value-get
  };

  @if $current-breakpoint-value-get > $pe-container-max-width{
     @return $pe-container-max-width
    }
};
