//Grid Mixins

@mixin generate-container($pe-container-max-width, $pe-responsive-breakpoints) {
  .pe-container {
    position      : relative;
    max-width     : $pe-container-max-width;
    margin-right  : auto;
    margin-left   : auto;
    min-height    : 1px;
    @include clearfix();

    @each $breakpoint in map-keys($pe-responsive-breakpoints) {

      //Get container margin by breakpoint
      $margin                       : map-get($pe-container-margin, $breakpoint);
      $current-breakpoint-value-get : get-breakpoint-value($breakpoint);

      //Construct media query
      @media(min-width:$current-breakpoint-value-get){
        padding-right : ($margin);
        padding-left  : ($margin);
      };
    };
  };
};


@mixin generate-columns($pe-responsive-breakpoints){

  // TODO (group common column widths)
  @for $i from 1 through $pe-columns {
    $column-width : percentage($i / $pe-columns);
    @each $breakpoint in map-keys($pe-container-margin) {

      //Construct column defaults
      .pe-col-#{$breakpoint}-#{$i} {
        width : $column-width;
      };

    };
  };

  $breakpoint-ex : ();

  @each $breakpoint in map-keys($pe-responsive-breakpoints) {

    $breakpoint-ex                 : append($breakpoint-ex, unquote('div[class*="#{$breakpoint}"]'), comma);
    $breakpoint-ex-n               : set-nth($breakpoint-ex, 1, null );
    $current-gutter                : map-get($pe-gutter-widths, $breakpoint);
    $current-breakpoint-value-gets : get-breakpoint-value($breakpoint);

    //Construct media query
    @media(min-width: $current-breakpoint-value-gets){

      @each $breakpoint-ex-n-a in $breakpoint-ex-n{
        @if $breakpoint-ex-n-a {
          #{$breakpoint-ex-n-a}{
            width : 100%;
          };
        };
      };


      //Construct Row
      .pe-row {
        margin-right : $current-gutter / - 2;
        margin-left  : $current-gutter / - 2;
        @include clearfix();
      };



      // Group common properties in media query by class list
      $breakpoint-list:();
        @each $breakpoint in map-keys($pe-responsive-breakpoints) {
          @for $i from 1 through $pe-columns {
            $breakpoint-list: append($breakpoint-list, unquote(".pe-col-#{$breakpoint}-#{$i}"), comma);
          };
        };
        #{$breakpoint-list} {
          padding-right : $current-gutter / 2;
          padding-left  : $current-gutter / 2;
          min-height    : 1px;
          float         : left;
          @include clearfix();
        };
      };
  };

};


@mixin clearfix() {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
};


@function get-breakpoint-value($breakpoint){
  $current-breakpoint-value-get : pe-responsive-get-breakpoint-value($breakpoint, min);

  @if $current-breakpoint-value-get <= $pe-container-max-width {
     @return $current-breakpoint-value-get
  };

  @if $current-breakpoint-value-get > $pe-container-max-width{
     @return $pe-container-max-width
    }
};
