//Grid Mixins

@mixin generate-container($pe-container-max-width, $pe-responsive-breakpoints) {
  .pe-container {
    max-width     : $pe-container-max-width;
    margin-right  : auto;
    margin-left   : auto;
    min-height    : 1px;
    @include clearfix();

    @each $breakpoint in map-keys($pe-responsive-breakpoints) {

      //Get container margin by breakpoint
      $margin                       : map-get($pe-container-margin, $breakpoint);
      $current-breakpoint-value-get : get-breakpoint-value($breakpoint);

      //Construct media query
      @media(min-width:$current-breakpoint-value-get){
        padding-right : ($margin / 2);
        padding-left  : ($margin / 2);
      };
    };
  };
};


@mixin generate-columns($pe-responsive-breakpoints){

      @each $breakpoint in map-keys($pe-responsive-breakpoints) {

        $current-gutter : map-get($pe-gutter-widths, $breakpoint);

        @for $i from 1 through $pe-columns {

          $column-width    : percentage($i / $pe-columns);

          //Construct column
          .pe-col-#{$breakpoint}-#{$i} {
            padding-right : $current-gutter / 2;
            padding-left  : $current-gutter / 2;
            width         : $column-width;
            float         : left;
            min-height    : 1px;
          };
        };
      };
@include generate-rows();
};

@mixin generate-rows(){

  .pe-row{
    @include clearfix();
  };

  div.pe-row > div:last-child{
    padding-right : 0px;
  };

  div.pe-row > div:nth-child(1){
    padding-left : 0px;
  };
};



@mixin clearfix() {
  &::after {
    content : "";
    display : table;
    clear   : both;
  }
};


@function get-breakpoint-value($breakpoint){
  $current-breakpoint-value-get : pe-responsive-get-breakpoint-value($breakpoint, min);

  @if $current-breakpoint-value-get <= $pe-container-max-width {
     @return $current-breakpoint-value-get
  };

  @if $current-breakpoint-value-get > $pe-container-max-width{
     @return $pe-container-max-width
    }
};
