@mixin pe-header-nav-link {
  display: block;
  padding: 0 $pe-header-nav-link-padding-x;
  line-height: $pe-header-height;
  text-decoration: none;
  color: $pe-header-link-color;
  font-size: 16px;

  &:hover,
  &:focus {
    color: $pe-header-link-hover-color;
  }
}
