@mixin pe-placeholder {
  &::-webkit-input-placeholder { @content }
  &::-moz-placeholder { @content }
  &:-moz-placeholder { @content }
  &:-ms-input-placeholder { @content }
}

@mixin pe-input(
  $bg,
  $border,
  $color,
  $disabled-bg,
  $disabled-color,
  $active-shadow: none
) {

  & input {
    color: $color;
    background: $bg;
    border: $border;
    border-radius: $pe-input-border-radius;

    @include pe-placeholder {
      font-style: $pe-input-placeholder-text;
      color: $pe-input-placeholder-color;
    }

  }

  & input:disabled,
  &.pe-input--disabled input {
    color: $disabled-color;
    background: $disabled-bg;

    @include pe-placeholder {
      color: $disabled-color;
    }

  }

  &.pe-input--readonly input {
    background: $disabled-bg;
  }

  //these are not really supported yet, and interfere with earlier rule
  & input:read-only,
  & input:-moz-read-only {
    background: $disabled-bg;
  }

  & input:invalid,
  &.pe-input--error input {
    border: $pe-input-error-border;
    box-shadow: $pe-input-error-box-shadow;
  }
  
  // to be placed on error messages

  & .pe-error-text {
    color: $pe-input-error-text-color;
  }

  &.pe-input--small input {
    font-size: $pe-input-small-font-size;
    height: $pe-input-small-height;
    line-height: $pe-input-small-line-height;
    padding: $pe-input-small-padding;
  }

}
