@mixin default-strategy(){

    @each $breakpoint in map-keys($pe-responsive-breakpoints) {

      $current-margin                : map-get($pe-container-margin, $breakpoint);
      $current-breakpoint-value-gets : get-breakpoint-value($breakpoint);

      @media(min-width: $current-breakpoint-value-gets){

        div[class*="pe-strategy__default"] {
          margin-right : $current-margin / - 1;
          margin-left  : $current-margin / - 1;
        };
      };
    };

};


@mixin centered-strategy(){

  div[class*="pe-strategy__centered"] > * {
    margin-right : auto;
    margin-left  : auto;
  };

};


@mixin left_right-strategy(){

  @each $breakpoint in map-keys($pe-responsive-breakpoints) {

    $current-margin                : map-get($pe-container-margin, $breakpoint);
    $current-breakpoint-value-gets : get-breakpoint-value($breakpoint);

    @media(min-width: $current-breakpoint-value-gets){

      div[class*="pe-strategy__left_right"]{
        width : 100%;
      };

      div[class*="pe-strategy__left_right"] > :first-child {
        margin-left : $current-margin / - 1;
        float       : left;
      };

      div[class*="pe-strategy__left_right"] > :last-child {
        margin-right : $current-margin / - 1;
        float        : right;
      };
    };
  };

};


@mixin basic_grid-strategy(){

  @each $breakpoint in map-keys($pe-responsive-breakpoints) {

    $current-margin                : map-get($pe-container-margin, $breakpoint);
    $current-breakpoint-value-gets : get-breakpoint-value($breakpoint);

    @media(min-width: $current-breakpoint-value-gets){
      div[class*="pe-strategy__basic-grid--small"] {
        display      : table;
        margin-left  : $current-margin / - 1;
        margin-right : $current-margin / - 1;
      };
      //div[class*="pe-strategy__basic-grid--large"] {
      //  margin-left  : $current-margin / - 1;
      //  margin-right : $current-margin / - 1;
      //  display      : table;
      //};
    };

  };


  div[class*="-2col"] > * {
    vertical-align : top;
    display        : table-cell;
    width : 50%;
    &:nth-child(n){
      padding-right : $pe-strategy__grid-small-gutters / 2;
      //float :left;
    };
    &:nth-child(even) {
        padding-left  : $pe-strategy__grid-small-gutters / 2;
        padding-right : 0px;
        //float:right;
    };
  };

  div[class*="-3col"] > * {
    width : 33.3333%;
    &:nth-child(n){
      padding-right : $pe-strategy__grid-small-gutters / 2;
      float         : left;
    };
    &:nth-child(n+1){
      padding-left  : $pe-strategy__grid-small-gutters / 2;
      padding-right : $pe-strategy__grid-small-gutters / 2;
    };
    &:nth-child(3n){
        padding-left  : $pe-strategy__grid-small-gutters / 2;
        padding-right : 0px;
        float         : right;
    };
  };

  div[class*="-4col"] > * {
    width : 25%;
    &:nth-child(n+1){
      padding-left  : $pe-strategy__grid-small-gutters / 2;
      padding-right : $pe-strategy__grid-small-gutters / 2;
    };
    &:nth-child(n+2){
      padding-left  : $pe-strategy__grid-small-gutters / 2;
      padding-right : $pe-strategy__grid-small-gutters / 2;
    };
    &:nth-child(n+3){
      padding-left  : $pe-strategy__grid-small-gutters / 2;
      padding-right : $pe-strategy__grid-small-gutters / 2;
    };
    &:nth-child(4n){
        padding-left  : $pe-strategy__grid-small-gutters / 2;
        padding-right : 0px;
        float         : right;
    };
    &:nth-child(n){
      padding-left  : 0px;
      padding-right : $pe-strategy__grid-small-gutters / 2;
      float         : left;
    };
  };

};


@mixin presentation-spacing(){

  div[class*="--small-gap"]:first-child {
    margin-top : 0px;
  };

  div[class*="--small-gap"] {
    width         : 100%;
    display       : inline-block;
    margin-top    : $pe-strategy__small-gap / 2;
    margin-bottom : $pe-strategy__small-gap / 2;
  };

  div[class*="--small-gap"]:last-child {
    margin-bottom : 0px;
  };


  div[class*="--large-gap"]:first-child {
    margin-top : 0px;
  };

  div[class*="--large-gap"] {
    width         : 100%;
    display       : inline-block;
    margin-top    : $pe-strategy__large-gap / 2;
    margin-bottom : $pe-strategy__large-gap / 2;
  };

  div[class*="--large-gap"]:last-child {
    margin-bottom : 0px;
  };

};
