@mixin default-strategy(){

    @each $breakpoint in map-keys($pe-responsive-breakpoints) {

      $current-margin                : map-get($pe-container-margin, $breakpoint);
      $current-breakpoint-value-gets : get-breakpoint-value($breakpoint);

      //Construct media query
      @media(min-width: $current-breakpoint-value-gets){

        div[class*="pe-strategy__default"] {
          margin-right : $current-margin / - 1;
          margin-left  : $current-margin / - 1;
        };
      };
    };

};



@mixin centered-strategy(){

  div[class*="pe-strategy__centered"] > * {
    margin-right: auto;
    margin-left : auto;
  };

};


@mixin left_right-strategy(){

  @each $breakpoint in map-keys($pe-responsive-breakpoints) {

    $current-margin                : map-get($pe-container-margin, $breakpoint);
    $current-breakpoint-value-gets : get-breakpoint-value($breakpoint);

    //Construct media query
    @media(min-width: $current-breakpoint-value-gets){

      div[class*="pe-strategy__left_right"]{
        width : 100%;
      };

      div[class*="pe-strategy__left_right"] > :first-child {
        margin-left : $current-margin / - 1;
        float       : left;
      };

      div[class*="pe-strategy__left_right"] > :last-child {
        margin-right : $current-margin / - 1;
        float        : right;
      };
    };
  };

};


@mixin basic_grid-strategy(){

};


@mixin presentation-spacing(){

  //Small Gap Spacing
  div[class*="--small-gap"]:first-child {
    margin-top : 0px;
  };

  div[class*="--small-gap"] {
    width         : 100%;
    display       : inline-block;
    margin-top    : $pe-strategy__small-gap / 2;
    margin-bottom : $pe-strategy__small-gap / 2;
  };

  div[class*="--small-gap"]:last-child {
    margin-bottom : 0px;
  };


  //Large Gap Spacing
  div[class*="--large-gap"]:first-child {
    margin-top : 0px;
  };

  div[class*="--large-gap"] {
    width         : 100%;
    display       : inline-block;
    margin-top    : $pe-strategy__large-gap / 2;
    margin-bottom : $pe-strategy__large-gap / 2;
  };

  div[class*="--large-gap"]:last-child {
    margin-bottom : 0px;
  };

};
