@import 'variables';
@import 'mixins';

%btn{
  border-radius  : 3px;
  border         : none;
  display        : inline-block;
  vertical-align : middle;
  cursor         : pointer;
  font-size      : $pe-btn-standard-font-size;
  height         : $pe-btn-standard-height;
  line-height    : $pe-btn-standard-height;
  padding        : $pe-btn-standard-padding;
}



[class*="pe-btn"] {

  @extend %btn;

  @include pe-btn(
    $pe-btn-default-bg,
    $pe-btn-default-text,
    $pe-btn-default-hover-bg,
    $pe-btn-default-hover-text,
    $pe-btn-default-disabled-bg,
    $pe-btn-default-disabled-text,
    $pe-btn-default-font-weight
  );

}



[class*="pe-btn__primary"] {

  @extend %btn;

  @include pe-btn(
    $pe-btn-primary-bg,
    $pe-btn-primary-text,
    $pe-btn-primary-hover-bg,
    $pe-btn-primary-hover-text,
    $pe-btn-primary-disabled-bg,
    $pe-btn-primary-disabled-text,
    $pe-btn-primary-font-weight
  );
}



[class*="pe-btn__cta"] {

  @extend %btn;

  @include pe-btn(
    $pe-btn-cta-bg,
    $pe-btn-cta-text,
    $pe-btn-cta-hover-bg,
    $pe-btn-cta-hover-text
  );
}



[class*="--large"] {
  height      : $pe-btn-large-height;
  font-size   : $pe-btn-large-font-size;
  line-height : $pe-btn-large-height;
  padding     : $pe-btn-large-padding;
}



[class*="--xlarge"]{
  height      : $pe-btn-xlarge-height;
  font-size   : $pe-btn-xlarge-font-size;
  line-height : $pe-btn-xlarge-height;
  padding     : $pe-btn-xlarge-padding;
}
