// Buttons
$pe-btn-border-radius: 3px !default;
$pe-btn-font-size: 0.875rem !default;
$pe-btn-height: 28px !default;
$pe-btn-padding: 0 11px !default;

$pe-btn-default-bg: pe-color(dirty-ice) !default;
$pe-btn-default-border: solid 1px pe-color(hairline-gray) !default;
$pe-btn-default-text: $pe-label-secondary-color !default;
$pe-btn-default-font-weight: $pe-label-font-weight !default;
$pe-btn-default-hover-bg: pe-color(brightly-lit) !default;
$pe-btn-default-hover-border: solid 1px pe-color(sidewalk) !default;
$pe-btn-default-hover-text: $pe-label-secondary-color !default;
$pe-btn-default-active-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3) !default;
$pe-btn-default-disabled-bg: pe-color(off-white) !default;
$pe-btn-default-disabled-text: pe-color(boring) !default;

$pe-btn-primary-bg: pe-color(basic-blue) !default;
$pe-btn-primary-border: solid 1px pe-color(deep-sea) !default;
$pe-btn-primary-text: $pe-label-inverse-color !default;
$pe-btn-primary-font-weight: $pe-label-inverse-font-weight !default;
$pe-btn-primary-hover-bg: pe-color(sea) !default;
$pe-btn-primary-hover-border: solid 1px pe-color(deep-sea) !default;
$pe-btn-primary-hover-text: $pe-label-inverse-color !default;
$pe-btn-primary-active-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3) !default;
$pe-btn-primary-disabled-bg: pe-color(sky-blue) !default;
$pe-btn-primary-disabled-text: pe-color(white) !default;

$pe-btn-link-bg: none !default;
$pe-btn-link-border: 0 !default;
$pe-btn-link-text: $pe-link-color !default;
$pe-btn-link-hover-bg: $pe-btn-link-bg !default;
$pe-btn-link-hover-border: $pe-btn-link-border !default;
$pe-btn-link-hover-text: $pe-link-hover-color !default;
$pe-btn-link-disabled-bg: 0 !default;
$pe-btn-link-disabled-text: pe-color(sky-blue) !default;

$pe-btn-inverse-link-text: $pe-label-secondary-color !default;
$pe-btn-inverse-link-hover-text: $pe-link-color !default;
$pe-btn-inverse-link-disabled-text: pe-color(boring) !default;

$pe-btn-small-height: 24px !default;
$pe-btn-small-font-size: $pe-label-small-font-size !default;
$pe-btn-small-padding: 0 9px !default;

$pe-btn-medium-height: 36px !default;
$pe-btn-medium-font-size: $pe-label-medium-font-size !default;
$pe-btn-medium-padding: 0 12px !default;

$pe-btn-large-height: 42px !default;
$pe-btn-large-font-size: $pe-label-large-font-size !default;
$pe-btn-large-padding: 0 19px !default;
