.d-c--color {
  font-size: 0em;
}

.d-swatch {
  clear: both;
  margin-bottom: 35px;
  &:after {
    clear: both;
    margin-bottom: 35px;
  }
  .d-swatch--color {
    float: left;
    width: 150px;
    height: 150px;
  }
}

@each $name, $color in $pe-colors {
  .d-color-#{$name} {
    background: $color;
    position: relative;
    &:before,
    &:after {
      position: absolute;
      width: 100%;
      height: 50%;
      left: 0px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &:before {
      content: '#{$name}';
      color: white;
      top: 0px;
    }
    &:after {
      content: '#{$name}';
      color: black;
      bottom: 0px;
    }
  }
}
