
.d-c--color {
  font-size: 0em;
}

.d-swatches {
  clear: both;
  margin-bottom: 35px;

  &:after {
    clear: both;
    content: "";
    display: table;
    margin-bottom: 35px;
  }
}

.d-swatch {
  float: left;
  width: 150px;
  height: 150px;
}

$docs-colors: (
  digital-pearson-blue: $pe-color-digital-pearson-blue,
  ink-blue: $pe-color-ink-blue,
  white: $pe-color-white,
  white-gray: $pe-color-white-gray,
  sunshine-yellow: $pe-color-sunshine-yellow,
  sunflower-yellow: $pe-color-sunflower-yellow,
  digital-ice-blue: $pe-color-digital-ice-blue,
  charcoal: $pe-color-charcoal,
  medium-gray: $pe-color-medium-gray,
  concrete: $pe-color-concrete,
  alto: $pe-color-alto,
  moonlight: $pe-color-moonlight,
  strawberry-red: $pe-color-strawberry-red,
  digital-grass-green: $pe-color-digital-grass-green
);

@each $name, $color in $docs-colors {
  .d-swatch--pe-color-#{$name} {
    background: $color;
    position: relative;

    &:before,
    &:after {
      position: absolute;
      width: 100%;
      height: 50%;
      left: 0px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }

    &:before {
      content: '#{$name}';
      color: white;
      top: 0px;
    }

    &:after {
      content: '#{$name}';
      color: black;
      bottom: 0px;
    }
  }
}
