@import '../../scss/elements/responsive-utilities/responsive-utilities';
@import '../../scss/experimental/header/header';
.d-docs-layout__container {
  padding-top: 90px;
}

.d-docs-layout__sidebar {
  display: none;
  position: fixed;
  top: 70px;
  bottom: 0;
  width: $d-sidebar-width;
  overflow-y: scroll;

  @include pe-responsive-breakpoint(md) {
    display: block;
  }
}

.d-docs-layout__main {
  padding: 0 $d-layout-main-padding-x;

  @include pe-responsive-breakpoint(md) {
    margin-left: $d-sidebar-width;
  }
}
