.d-docs-layout__sidebar {
  display: none;
  position: fixed;
  top: 44px;
  bottom: 0;
  width: $d-sidebar-width;
  overflow-y: scroll;

  @include pe-responsive-breakpoint(md) {
    display: block;
  }
}

.d-docs-layout__main {
  padding: $d-main-padding;

  @include pe-responsive-breakpoint(md) {
    margin-left: $d-sidebar-width;
  }
}
