.d-docs-layout__container {
  padding-top: 72px;
}

.d-docs-layout__sidebar {
  display: none;
  position: fixed;
  top: 54px;
  bottom: 0;
  width: $d-sidebar-width;
  overflow-y: scroll;

  @include pe-responsive-breakpoint(md) {
    display: block;
  }
}

.d-docs-layout__main {
  padding: 0 $d-layout-main-padding-x;

  @include pe-responsive-breakpoint(md) {
    margin-left: $d-sidebar-width;
  }
}
