.d-icon-list {
  list-style: none;
  margin: 0 0 25px;
  padding: 0;

  > li {
    padding: 6px 0;
  }

  > li > i {
    width: 32px;
    font-size: 14px;
    display: inline-block;
    text-align: right;
    margin-right: 10px;
  }
}
