// Layout
//

$d-layout-main-padding-x: 20px;

// Sidebar
//

$d-sidebar-width: 250px;

$pe-icons-path: '/icons/';
$pe-fonts-path: '/fonts/';

$pe-images-path: '/images/';

//Card
//

$pe-card-margin-bottom: 15px !default;
$pe-card-border: solid 1px pe-color(sidewalk) !default;
$pe-card-heading-padding: 15px !default;
