@mixin pe-placeholder {
  &::-webkit-input-placeholder { @content }
  &::-moz-placeholder { @content }
  &:-moz-placeholder { @content }
  &:-ms-input-placeholder { @content }
};

.abstract {
  padding: $textInput-basic-padding;
  height: $textInput-basic-height;
  font-size: $textInput-value-font-size;
  border-radius: $textInput-basic-borderRadius;
  background-color: $pe-color-white;
  color: $pe-color-charcoal;
  display: $textInput-basic-display;
  margin-top: $textInput-basic-marginTop;
  line-height: $textInput-line-height;
}

@mixin textInputBasic() {

  .pe-textInput--basic {
    @extend .abstract;
    border: $textInput-basic-border;

    @include pe-placeholder {
      font-size : $textInput-placeholder-font-size;
      color     : $textInput-placeholder-color;
    }

    &:focus {
      outline: none;
      border: $textInput-basic-focus-border;
      box-shadow: $textInput-basic-focus-boxShadow;
    }
  }

};

@mixin textInputBasicError() {

  .pe-textInput--basic_error {
    @extend .abstract;
    border: $textInput-basic-error-border;

    @include pe-placeholder {
      font-size : $textInput-placeholder-font-size;
      color     : $textInput-placeholder-color;
    }

    &:focus {
      outline: none;
      box-shadow: $textInput-basic-error-focus-boxShadow;
    }
  }

};

@mixin textInputBasicDisabled() {

  .pe-textInput--basic:disabled {
    background-color: $pe-color-moonlight;
    margin-top: $textInput-basic-marginTop;
  }

};

@mixin textInputBasicSelect() {

  .pe-select-container {
    @extend .abstract;
    position: relative;
    display: $textInput-basic-display;
    min-width: $textInput-basic-select-minWidth;
    width: $textInput-basic-select-containerWidth;
    border: $textInput-basic-border;
  }

  .pe-select-container::after {
  	width: 0;
  	height: 0;
  	border-left: 4px solid transparent;
  	border-right: 4px solid transparent;
  	border-top: 7px solid #666;
  	margin-top: -3px;
    z-index: 2;
    display: none;
  }

  .pe-select-container svg {
    position: absolute;
    bottom: $svg-bottom;
    right: $svg-right;
    pointer-events: none;
  }

  .pe-textLabelInput__label {
    display: $textInput-basic-display;
  }

  .pe-textLabelInput__label ~ .pe-select-container select {
    width: $textInput-basic-select-width;
    margin: 0;
    outline: none;
  }

  .pe-select-container select:focus {
    outline: none;
    border: $textInput-basic-focus-border;
    box-shadow: $textInput-basic-focus-boxShadow;
  }

  .pe-selectInput--basic {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: $pe-color-white;
    border: 1px solid transparent;
    padding-top: 8px;

    @include pe-placeholder {
      font-size : $textInput-placeholder-font-size;
      color     : $textInput-placeholder-color;
    }

  }

  .pe-select-container select:focus::-ms-value {
		background: transparent;
		color: #222;
	}

  .pe-selectInput--basic:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
  }

  .pe-select-container select::-ms-expand {
    opacity: 0;
  }

};
