@mixin pe-placeholder {
  &::-webkit-input-placeholder { @content }
  &::-moz-placeholder { @content }
  &:-moz-placeholder { @content }
  &:-ms-input-placeholder { @content }
};

.abstract {
  padding: $textInput-basic-padding;
  height: $textInput-basic-height;
  border-radius: $textInput-basic-borderRadius;
  background-color: $pe-color-white;
  color: $pe-color-charcoal;
  display: $textInput-basic-display;
  margin-top: $textInput-basic-marginTop;
  line-height: $textInput-line-height;
}

@mixin textInputBasic() {

  .pe-textInput--basic {
    @extend .abstract;
    border: $textInput-basic-border;

    @include pe-placeholder {
      font-size : $textInput-placeholder-font-size;
      color     : $textInput-placeholder-color;
    }

    &:focus {
      outline: none;
      border: $textInput-basic-focus-border;
      box-shadow: $textInput-basic-focus-boxShadow;
    }
  }

};

@mixin textInputBasicError() {

  .pe-textInput--basic_error {
    @extend .abstract;
    border: $textInput-basic-error-border;

    @include pe-placeholder {
      font-size : $textInput-placeholder-font-size;
      color     : $textInput-placeholder-color;
    }

    &:focus {
      outline: none;
      box-shadow: $textInput-basic-error-focus-boxShadow;
    }
  }

};

@mixin textInputBasicDisabled() {

  .pe-textInput--basic:disabled {
    background-color: $pe-color-moonlight;
    margin-top: $textInput-basic-marginTop;
  }

};

@mixin textInputBasicSelect() {

  .pe-select-container {
    position: relative;
    display: $textInput-basic-display;
    min-width: $textInput-basic-select-minWidth;
    width: $textInput-basic-select-containerWidth;
  }

  #pe-icon--dropdown-open-18 {
    position: absolute;
    bottom: $svg-position;
    right: $svg-position;
    padding-bottom: $svg-paddingBottom;
    margin-right: $svg-marginRight;
  }

  .pe-textLabelInput__label {
    display: $textInput-basic-display;
  }

  .pe-textLabelInput__label ~ .pe-select-container select {
    width: $textInput-basic-select-width;
  }

  .pe-selectInput--basic {
    @extend .abstract;
    border: $textInput-basic-border;
    -webkit-appearance: $textInput-basic-select-display;
    -moz-appearance: $textInput-basic-select-display;
    appearance: $textInput-basic-select-display;

    @include pe-placeholder {
      font-size : $textInput-placeholder-font-size;
      color     : $textInput-placeholder-color;
    }

    &:focus {
      outline: none;
      border: $textInput-basic-focus-border;
      box-shadow: $textInput-basic-focus-boxShadow;
    }
  }

};
