
@mixin textInput () {
  [class^="pe-textInput" ]	{
    font-size          :$textInput-placeholder-font-size;
    width              :$textInput-width;
    padding            :$textInput-padding;
    border             :$textInput-border-reset;
    border-bottom      :$textInput-border-bottom;
    border-bottom-style:$textInput-border-bottom-style;
    border-bottom-color:$textInput-border-bottom-color;
    transition         :$textInput-animation;
    -moz-transition    :$textInput-animation;
    -webkit-transition :$textInput-animation;
    &:focus{
      outline            :none;
      border-bottom      :$textInput-focus-border-bottom;
      border-bottom-style:$textInput-focus-border-bottom-style;
      border-bottom-color:$textInput-focus-border-bottom-color;
    }
    &::before {
      left:50%;
    }
    &::after {
      right:50%;
    }
  }

};



@mixin textInputError() {
  [class$="--input_error"] {
    border-bottom      :$textInput-error-border-bottom;
    border-bottom-style:$textInput-error-border-bottom-style;
    border-bottom-color:$textInput-error-border-bottom-color;
    &:focus{
      outline:none;
      border-bottom      :$textInput-error-focus-border-bottom;
      border-bottom-style:$textInput-error-focus-border-bottom-style;
      border-bottom-color:$textInput-error-focus-border-bottom-color;
    }
  }
};



@mixin textInputLabel () {
  .pe-textInput__label	{
    font-size:$textInput-label-font-size;
    color    :$textInput-label-color;
  }
};



@mixin textInputLabelError() {
  [class$="--label_error"] {
    color     : $textInput-error-focus-label-color;
    font-size : $textInput-error-focus-label-font-size;
  }
};



@mixin textInputReadOnly() {
  .pe-textInput:read-only {
    border-bottom : $textInput-readonly-border;
    color         : $textInput-readonly-text-color;
    font-size     : $textInput-readonly-text-font-size;
  }
};


@mixin textInputDisabled() {
  .pe-textInput:disabled {
    border-bottom      :$textInput-disable-border-bottom;
    border-bottom-style:$textInput-disable-border-bottom-style;
    border-bottom-color:$textInput-disable-border-bottom-color;
  }
};


@mixin textInputLabelDisabled() {
  .pe-textInput__label:disabled {
    color     : $textInput-disable-text-color;
    font-size : $textInput-disable-text-font-size;
  }
};


@mixin clearIEPasswordIcon() {
  //for IE password Input Icon...
  ::-ms-reveal {
      display: none;
  };
};
