// Inputs
//

$pe-input-border-radius: 3px !default;
$pe-input-focus-color: pe-color(hyperdrive) !default;
$pe-input-focus-border: 1px solid pe-color(hyperdrive) !default;
$pe-input-focus-box-shadow: 0px 0px 4px pe-color(hyperdrive) !default;
$pe-input-font-size: $pe-label-large-font-size !default;
$pe-input-height: 36px !default;
$pe-input-padding: 0 14px !default;

$pe-input-default-bg: pe-color(white) !default;
$pe-input-default-border: solid 1px pe-color(hairline-gray) !default;
$pe-input-default-text: pe-color(pitch) !default;
$pe-input-default-disabled-bg: pe-color(off-white) !default;
$pe-input-default-disabled-text: pe-color(boring) !default;
$pe-input-default-line-height: $pe-label-large-line-height !default;

$pe-input-small-bg: $pe-input-default-bg !default;
$pe-input-small-border: $pe-input-default-border !default;
$pe-input-small-text: $pe-input-default-text !default;
$pe-input-small-disabled-bg: $pe-input-default-disabled-bg !default;
$pe-input-small-disabled-text: $pe-input-default-disabled-text !default;
$pe-input-small-height: 28px !default;
$pe-input-small-padding: 0 10px !default;
$pe-input-small-font-size: $pe-label-font-size !default;
$pe-input-small-line-height: $pe-label-line-height !default;
$pe-input-readonly-bg: pe-color(off-white) !default;
$pe-input-error-border: solid 1px pe-color(firetruck) !default;
$pe-input-error-text-color: pe-color(firetruck);
$pe-input-error-outline: 1px solid pe-color(firetruck);
$pe-input-error-box-shadow: 0px 0px 4px pe-color(firetruck) !default;
$pe-input-placeholder-color: pe-color(sandy-gray) !default;
$pe-input-placeholder-text: italic !default;

//text-area
//
$pe-textarea-padding: 9px 14px !default;
$pe-textarea-small-padding: 9px 10px !default;

// select-box
//
$pe-select-height: 36px !default;
$pe-select-padding-left: 14px !default;
$pe-select-padding-right: 14px !default;
$pe-select-bg: pe-color(white) !default;
$pe-select-text: pe-color(pitch) !default;
$pe-select-vertical-align: middle !default;
$pe-select-line-height: 18px !default;

$pe-select-small-padding-left: 10px !default;
$pe-select-small-padding-right: 10px !default;
$pe-select-small-line-height: 16px !default;

$pe-select-readonly-text: pe-color(boring) !default;
